/*!CK:2544944323!*//*1430724729,*/

.sp_asAhK8vXQcr{background-image:url(/rsrc.php/v2/y5/r/QGNt66nI1yo.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_asAhK8vXQcr.sx_dcb8f6{width:12px;height:12px;background-position:0 -15px}.sp_asAhK8vXQcr.sx_f615d3{background-position:0 0}

#bootloader_csemp { height: 42px; }
.bootloader_csemp { display:block !important; }